body {
    margin: 0px;
    color: #262626;
    font-family: serif;
    
}
/*Inicio de la barra de navegación ---------------------------------------- */

header{
    background-color: #4A6D8C;
    color: #F2F2F2;
}

.navbar {
    display: flex;
    justify-content: space-between ;
    
}

.logo {
    font-size: 30px;
    padding: 15px;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

ul {
    display: flex;
    list-style: none;
    margin: 0px;
}

li {
    padding-block: 15px;
}

.user,
.menu-icon {
    width: 30px;
    height: 30px;  
    margin-right: 10px;
}

/*Fin de la barra de navegación ---------------------------------------- */
/*Inicio del formulario         ---------------------------------------- */

.login-form {
    padding-top: 15%;
    padding-bottom: 25%;
    padding-inline: 30%;
}

h1{
    text-align: center;
    margin-block: 30px;
    color: #324359;
}

#mail,
#contraseña {
    width: 100%;
    background-color: #AAB3BF;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.form-g {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.button-login button {
    background-color: #324359;
    color: white;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*Fin    del formulario         ---------------------------------------- */
/*---------------------------------------------------------------------- */

.o {
    text-align: center;
}

.icons {
    display: flex;
    justify-content: center;
}

.icon1,
.icon2,
.icon3 {
    width: 25px;
    height: 25px;
}

.nueva-cuenta {
    text-align: center;
    margin-top: 10px;
}


/*---------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */

.politica {
    padding-inline: 10px;
    padding-block: 5px;
    display: flex;
    justify-content: space-between;

}
.politica a {
    text-decoration: none;
    color: inherit;
}

/* --------------------------------------------------------------------- */
/* Contenido del pie de página ------------------------------------------*/

footer {
    font-size: 20px;
    background-color: #262626;
    color: #F2F2F2;
    padding: 1%;
}