body {
    margin: 0px;
    color: #262626;
    font-family: serif;
    
}
/*Inicio de la barra de navegación ---------------------------------------- */
header{
    background-color: #4A6D8C;
    color: #F2F2F2;
}
.navbar {
    display: flex;
    justify-content: space-between ;
    
}

.logo {
    font-size: 30px;
    padding: 15px;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0px;
}

li {
    padding-block: 15px;
}

.user,
.menu-icon {
    width: 30px;
    height: 30px;  
    margin-right: 10px;  
}
/*Fin de la barra de navegación ---------------------------------------- */
/* Contenido de la sección de inicio ------------------------------------*/

.inicio {
    display: flex;
    margin-top: 60px;
    margin-inline: 20px;
}

.student {
    margin-right: 3em;

}
#student {
    width: 100%;
    height: auto;
}
.texto1 {
    text-align: center;

}
.texto1 h1 {
    font-size: 45px;
    color: #324359;
}
#p1 {
    font-size: 30px;
}

#btn1,
#btn2 {
    
    background-color: #324359;
    color: white;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

/* Fin del contenido de la sección de inicio ----------------------------*/

/* Contenido de la sección de información -------------------------------*/

.informacion_breve {
    display: flex;
    margin: 40px;
    
}

.info {
    padding: 20px;
    text-align: center;
}
.informacion_breve h1 {
    color: #324359;
}
.img {
    width: 70px;
    height: 70px;
    margin: 0 auto;
}

/* Fin del contenido de la sección de información ----------------------*/
/* Productos -----------------------------------------------------------*/

.productos {
    display: block;
}
.productos h1 {
    color: #324359;
}

.curso {
    text-align: center;
    border: 1px solid #324359;
    border-radius: 10px;
}

.curso h1 {
    font-size: 45px;
    margin-bottom: 0;
}

.basico,
.especializado {
    display: flex;
    justify-content: center;
    
}
.curso {
    margin: 15px;
}
.precio {
    font-size: 40px;
    display: flex;
    justify-content: center;
}
.moneda {
    font-size: 20px;
    margin-block: auto;
    margin-left: 10px;
}

.productos ul {
    padding-right: 20px;
}
.btn {
    border-radius: 5px;
    border: none;
    background-color: #324359;
    color: white;
    font-size: 18px;
    cursor: pointer;
    padding: 15px;
    margin-bottom: 10px;
    
}

/* Productos -----------------------------------------------------------*/
/* Contenido del pie de página -----------------------------------------*/

footer {
    font-size: 20px;
    background-color: #262626;
    color: #F2F2F2;
    padding: 1%;
}
